<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="./static/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="./static/css/style.css">
</head>

<body>

    <div class="wrapper" style="background-image: url('./static/images/bg-registration-form-1.jpg');">
        <div class="inner">
            <div class="image-holder">
                <img src="./static/images/registration-form-1.jpg" alt="">
            </div>
            <form action="">
                <h3>Registration Form</h3>
                <div class="form-group">
                    <input type="text" placeholder="Username" class="form-control" required>
                </div>
                <div class="form-wrapper">
                    <input type="password" placeholder="Password" class="form-control" required>
                    <i class="zmdi zmdi-lock"></i>
                </div>
                <div class="form-wrapper">
                    <input type="email" placeholder="Email Address" class="form-control" required>
                    <i class="zmdi zmdi-email"></i>
                </div>
                <div class="form-wrapper">
                    <input type="tel" placeholder="Phone Number" class="form-control" required>
                    <i class="zmdi zmdi-phone"></i>
                </div>
                <button>Register
                    <i class="zmdi zmdi-arrow-right"></i>
                </button>
            </form>
        </div>
    </div>
    
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
